body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.main-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-images{
    padding: 20px;
    width: 50%;
}

.product-info{
    width: 50%;
    padding: 20px;
}

.meta-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-line{
    width: 40%;
}

.description{
    width: 60%;
    padding: 1rem;
}

.link-to-cart .link-to-home{
    position: absolute;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap:5px;
    top:30px;
    right: 30px;
}

.cart-item-count{
    background-color: red;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    color: white;
}